* {
  margin: 0;
  box-sizing: border-box;
  margin-right: 30px;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#main-doc {
  margin-left: 350px;
  line-height: 2.2vw;
  margin-top: 0;
  display: block;
  position: absolute;
  text-align: left;
}
header {
  text-align: left;
  margin-bottom: 20px;
  margin-top: 20px;
}
a {
  text-decoration: none;
  color: black;
}
#navbar ul {
  list-style-type: none;
  font-size: 20px;
  margin-left: 0;
  padding: 0;
}
#navbar li {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  position: relative;
  left: 0;
  padding-bottom: 10px;
  border-bottom: solid gray 1px;
  margin-left: 5px;
}
p {
  font-size: 20px;
}
nav {
  border-right: 1px solid gray;
  position: fixed;
  background-color: white;
  z-index: 1;
  left: 0;
  min-width: 290px;
  border-bottom: 1px solid gray;
  height: 511px;
  text-align: left;
}
#cancer {
  border-bottom: none;
}
#navbar header {
  text-align: center;
  border-bottom: 3px solid black;
  width: 100%;
  padding-bottom: 10px;
}
@media only screen and (max-width: 815px) {
  /* For mobile phones: */
  #navbar ul {
    border: 1px solid;
    height: 207px;
  }

  #navbar {
    background-color: white;
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 275px;
    border: none;
    z-index: 1;
    border-bottom: 2px solid;
  }

  #main-doc {
    position: relative;
    margin-left: 0px;
    margin-top: 270px;
  }
}

@media only screen and (max-width: 400px) {
  #main-doc {
    margin-left: -10px;
  }

  code {
    margin-left: -20px;
    width: 100%;
    padding: 15px;
    padding-left: 10px;
    padding-right: 45px;
    min-width: 233px;
  }
}
